body{
background-color:cyan;

/*
  background-image:url("bg2.gif");*/


}

h3:hover{
  background-color:green;
}

h2:hover{
  background-color: YELLOW;
}
hr{
  border-style: dotted none none;
  width: 50%;
  border-width:10px;
  color: red;
  align: "right";



}

img:hover{
  background-color: green ;
}

a:active{
  color: yellow;
}
.zoom
{
  transition: transform .1.5s;
}
.zoom:hover{
  COLOR: red;
  transform: scale(2) ;
}
.zoom1:hover{
  color:red ;
  transform: scale(3);

}
